asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
crispy-bootstrap5==2025.4
dj-database-url==2.3.0
dj-email-url==1.0.6
Django==5.2
django-allauth==65.7.0
django-cache-url==3.4.5
django-crispy-forms==2.4
django-rosetta==0.10.2
environs==14.1.1
idna==3.10
marshmallow==4.0.0
pillow==11.2.1
polib==1.2.0
psycopg2-binary==2.9.10
python-dotenv==1.1.0
requests==2.32.3
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
